$icon-width: 28px;
$header-height: 52px;

$font-small: 12px;
$font-normal: 14px;
$font-large: 16px;

$space-small: 7.5px;
$space-normal: $space-small * 2;

$color-black: #212529;
$color-grey: #edebe9;
$color-bg-grey: #eaeaea;
$color-dark-grey: #7a7a7a;
$color-blue: #0e7ed9;

$border-width: 1px;
