@import "../common/base.scss";

.item {
  position: relative;
  border-bottom: $border-width solid $color-grey;
  padding: $space-small 0;
  &:hover {
    background-color: $color-bg-grey;
    .buttons {
      display: block;
      position: absolute;
      top: $space-small;
      right: $space-small;
      font-size: $font-small;
      color: $color-dark-grey;
      > svg {
        margin: 0 2px;
      }
    }
  }
  > div {
    cursor: pointer;
  }
  a {
    color: $color-black;
    text-decoration: none;
    display: block;
  }
  .icon {
    width: $icon-width;
    height: $icon-width;
    margin-right: $space-normal;
  }
  .details-wrap {
    flex: 1 1 auto;
    overflow: hidden;
  }
  .details {
    .line {
      display: block;
      font-size: $font-small;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .from {
      font-size: $font-normal;
    }
    .body {
      color: $color-dark-grey;
    }
  }
  .buttons {
    display: none;
  }
}
