@import "../common/base.scss";

.header {
  padding: $space-normal 0;
  border-bottom: $border-width solid $color-grey;
  background-color: white;
  h1 {
    font-size: $font-large;
    margin: 0 0 0 $icon-width + $space-normal;
  }
}
