@import "./component/common/base.scss";

.inbox {
  position: relative;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .items {
    padding-top: $header-height;
    height: 100vh !important;
  }
}
