@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import "~bootstrap/scss/bootstrap.scss";
@import "./component/common/base.scss";
body {
  margin: 0;
  font-family: "Roboto", "Droid Sans", sans-serif;
  font-size: $font-normal;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
